# NextAuth config
AUTH_SECRET="generate-a-secure-secret-here-using-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"

# Authentik config
AUTHENTIK_CLIENT_ID="your-authentik-client-id"
AUTHENTIK_CLIENT_SECRET="your-authentik-client-secret"
AUTHENTIK_URL="https://authentik.yourdomain.com"
AUTHENTIK_API_KEY="your-authentik-api-key"

# Database
DATABASE_URL="postgres://passwork:password@db:5432/passwork"

# Master Encryption Key (Must be EXACTLY 32 bytes/characters long, or 64 hex chars)
# E.g. generate via `openssl rand -hex 32`
ENCRYPTION_KEY="0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"
